<div class="container p-4">
    <div class="row">
        {{#each asignaturas}}
          <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a btn  href="/asignaturas/notas/{{id}}">
                        <h3 class="card-title text-uppercase">
                            {{title}}
                        </h3>
                    </a>
                    <p class="m-2">{{profesor}}</p>
                    <p class="m-2">{{description}}</p>
                    
                    <a class="btn btn-danger" href="/asignaturas/delete/{{id}}">
                        Borrar
                    </a>
                    <a class="btn btn-secondary" href="/asignaturas/edit/{{id}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay asignaturas aún.</p>
                <a href="/asignaturas/add">¡Crea una!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>