<div class="container p-4">
<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/asignaturas/notas/nota_edit/{{nota.subject_id}}/{{nota.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="grade" class="form-control" placeholder="Nota" value="{{nota.grade}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="percentage" class="form-control" placeholder="Porcentaje" value="{{nota.percentage}}">
                </div>
                <div class="form-group">
                    <textarea name="description" rows="2" class="form-control" placeholder="Descripción">{{nota.description}}</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>